<header>
    <div class="table-heading">
      <h2>
        <a (click)="goBack()" style="cursor: pointer;">
          <mat-icon class="back-arrow">arrow_back</mat-icon>
        </a>
        {{title}} {{ driverId }}
      </h2>
    </div>
  </header>

<div class="driverForm">
    <form [formGroup]="driverForm" (ngSubmit)="onSubmit()">
        <div class="form-fields">
          <div class="column">

            <h2>Name:</h2>
            <div class="form-field">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-error *ngIf="driverForm.controls['firstName'].hasError('required')">First name is required.</mat-error>
                    <mat-error *ngIf="driverForm.controls['firstName'].hasError('maxlength')">Max. Length = 50</mat-error>
                    <mat-error *ngIf="driverForm.controls['firstName'].hasError('minlength')">Min. Length = 2</mat-error>
                </mat-form-field>
            </div>

            <div class="form-field">
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="driverForm.controls['name'].hasError('required')">Last name is required.</mat-error>
                </mat-form-field>
            </div>

            <div class="address">
                <h2>Address:</h2>
                <div class="form-field">
                    <mat-form-field>
                        <mat-label>Address line 1</mat-label>
                        <input matInput formControlName="address1">
                        <mat-error *ngIf="driverForm.controls['address1'].hasError('required')">Address is required.</mat-error>
                    </mat-form-field>            
                </div>

                <div class="form-field">
                    <mat-form-field>
                        <mat-label>Address line 2</mat-label>
                        <input matInput formControlName="address2">
                        <mat-error *ngIf="driverForm.controls['address2'].hasError('maxlength')">Max. Length = 50</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-form-field>
                        <mat-label>Postal code</mat-label>
                        <input matInput formControlName="postalCode">
                        <mat-error *ngIf="driverForm.controls['postalCode'].hasError('maxlength')">Max. Length = 8</mat-error>
                        <mat-error *ngIf="driverForm.controls['postalCode'].hasError('required')">Postal code is required.</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="form-field">
                    <mat-form-field>
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city">
                        <mat-error *ngIf="driverForm.controls['city'].hasError('maxlength')">Max. Length = 50</mat-error>
                        <mat-error *ngIf="driverForm.controls['city'].hasError('required')">City is required.</mat-error>

                    </mat-form-field>
                </div>

                <div class="form-field">
                    <mat-form-field>
                        <mat-label>Country</mat-label>
                        <input matInput formControlName="country">
                        <mat-error *ngIf="driverForm.controls['country'].hasError('maxlength')">Max. Length = 50</mat-error>
                        <mat-error *ngIf="driverForm.controls['country'].hasError('required')">Country is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>   
         </div>
        
        <div class="column">  
            
            <h2>Other info:</h2>
            <div class="form-field">
                <mat-form-field>
                    <mat-label>Social Security number</mat-label>
                    <input matInput formControlName="socialSecurityNumber">
                    <mat-error *ngIf="driverForm.controls['socialSecurityNumber'].hasError('required')">Social security number is required.</mat-error>
                    <div class="alert">
                        <div *ngIf="driverForm.controls['socialSecurityNumber'].errors">
                            fill in social security number
                        </div>
                    </div>
                </mat-form-field>
            </div>
            
            <div class="form-field">
                <mat-form-field>
                    <mat-label>Date of birth</mat-label>
                    <input matInput [matDatepicker]="dp" formControlName="dateOfBirth">
                    <mat-error *ngIf="driverForm.controls['dateOfBirth'].hasError('required')">Date of birth is required.</mat-error>
                    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                    <div class="alert">
                        <div *ngIf="driverForm.controls['dateOfBirth'].errors">
                            fill in date of birth
                        </div>
                    </div>
                </mat-form-field>
            </div>
            
            <div class="form-field">
                <mat-form-field>
                    <mat-label>Driver's license</mat-label>
                    <mat-select formControlName="driversLicenseType">
                        <mat-option *ngFor="let license of licenses" [value]="license" >{{license}}
                        </mat-option>
                    </mat-select>
                    <div class="alert">
                        <div *ngIf="driverForm.controls['driversLicenseType'].errors">
                            fill in driver's license
                            </div>
                        </div>
                    </mat-form-field>
                </div><br/>

                <h3 class="vehicleTitle">Current Vehicle:</h3>
                <h3>{{ vehicleString }}</h3>
               
                    <h3 class="vehicleTitle">Change Vehicle:</h3> 
                    <div class="form-field"> 
                        <mat-form-field>
                           <mat-label>Change Vehicle</mat-label>
                           <div class="autocomplete-container">
                            <input #input type="text" matInput formControlName="vehicleControl" [matAutocomplete]="auto" >
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                              <mat-option *ngFor="let vehicle of filteredVehicles | async" [value]="vehicle">
                                {{ vehicle.make}} {{vehicle.model}} {{vehicle.licensePlateNumber}} 
                              </mat-option>
                            </mat-autocomplete>
                          </div> 
                        </mat-form-field>
                      </div> 
                      
                      
                <p *ngIf="driverForm.invalid || errorMessage; else validForm" class="alert">{{ errorMessage }}</p>
                <ng-template #validForm></ng-template>
                <button mat-button type="submit" color="alert" [disabled]="driverForm.invalid" [ngClass]="{'gray-button': driverForm.invalid}">Submit</button>
            </div>
        </div>
    </form>
</div>

<div class="panel">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title class="panel-title">
            DamageReports
        </mat-panel-title>
        </mat-expansion-panel-header>
        <app-damage-reports [damageReportData]="damageReportArray"></app-damage-reports>
        <button mat-button color="primary" class="addButton" (click)="addDamageReport()">Add Damage Report</button>
    </mat-expansion-panel>
</div>
<div><br/></div>
