/* Set a max-width for the table */
.mat-elevation-z8 {
    max-width: 80%;
  }
  
  #table-container {
    width: 100%;
    margin: auto;
    background-color: white;
  }
  
  /* Set a max-width for the table cells */
  .mat-cell {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .addButton{
    color: green
  }
  