<div class="data-container" *ngIf="types$ | async as vehicleTypes">
    <h2 class="table-heading">{{ title }}</h2>
    <table class="extraData">
      <thead>
        <tr>
          <th class="small-column">#</th>
          <th>Name (click to edit)</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let type of types; index as i">
          <td class="small-column extraId">{{ i+1 }}</td>
          <td><input type="text" [readonly]="isReadOnly[i]" [(ngModel)]="type.name"></td>
          <!-- <input type="text" [readonly]="isReadOnly[i]" [(ngModel)]="vehicleType.name" id="vehicleType-name-input-{{i}}" (blur)="saveChanges(vehicleType)" (keydown.enter)="saveChanges(vehicleType)"> -->
          <td><button class="updateButton" (click)="editType(type)">Save</button></td>
          <td><button class="deleteButton" (click)="deleteType(type, i)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    <button class="addButton" (click)="addType()">Add</button>
    <br/>
  </div>
  