<h2 class="table-heading">Fleetmanager's Vehicles</h2>
<div *ngIf="isLoading; else dataContent"></div>
<ng-template #dataContent>
<div class="data-container">
  <mat-form-field>
    <mat-label>Filter on make or plate</mat-label>
    <input matInput [value]="searchQuery" (keyup)="applyFilter($event)" placeholder="" #searchInput class="inputs">
  </mat-form-field>
  <div class="data-table-container">
    <table  mat-table [dataSource]="vehicles" class="fleetData">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row; let i = index">{{overallIndex + i + 1}}</td>
      </ng-container>
    
      <ng-container matColumnDef="make">
        <th mat-header-cell *matHeaderCellDef>Make</th>
        <td mat-cell *matCellDef="let row">{{row.make}}</td>
      </ng-container>
    
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Model</th>
        <td mat-cell *matCellDef="let row">{{row.model}}</td>
      </ng-container>

      <ng-container matColumnDef="licensePlate">
        <th mat-header-cell *matHeaderCellDef>LicensePlate</th>
        <td mat-cell *matCellDef="let row">{{row.licensePlateNumber}}</td>
      </ng-container>
    
      <ng-container matColumnDef="firstRegistration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>First registration</th>
        <td mat-cell *matCellDef="let row">{{row.firstRegistration | date }}</td>
      </ng-container>
    
      <ng-container matColumnDef="chassisNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Chassis Number</th>
        <td mat-cell *matCellDef="let row">{{row.chassisNumber}}</td>
      </ng-container>
    
      <ng-container matColumnDef="durationLeasingMonths">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Duration<br/>Leasing</th>
        <td mat-cell *matCellDef="let row">{{row.durationLeasingMonths}}</td>
      </ng-container>

      <ng-container matColumnDef="startLeasing"> 
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Start Leasing</th>
        <td mat-cell *matCellDef="let row">{{row.startLeasing | date}}</td>
      </ng-container>

      <ng-container matColumnDef="actions"> 
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button color="primary" (click)="goToEditPage(row.id)">Detail</button>
          <button mat-button color="warn" class="warning" (click)="deleteVehicle(row.id)">Delete</button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div></div>
  <button mat-button color="primary" class="addButton" (click)="addVehicle()">Add a Vehicle</button>
</div>
</ng-template>

<mat-paginator class="paginator" (page) = "handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page">
</mat-paginator>


