<h2 class="table-heading">Fleetmanager's Drivers</h2>
<div class="data-container">
  <!-- <input matInput [value]="searchQuery"(keyup)="applyFilter($event)" placeholder="search" #searchInput class="inputs">
  <br/><br/> -->
  <div class="data-table-container">
    <table mat-table class="fleetData" [dataSource]="drivers" class="fleetData">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row; let i = index">{{overallIndex + i + 1}}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Firstname</th>
        <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="driversLicenseType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear><span>Drivers</span><span>License</span></th>
        <td mat-cell *matCellDef="let row">{{row.driversLicenseType}}</td>
      </ng-container>

      <ng-container matColumnDef="vehicle">
        <th mat-header-cell *matHeaderCellDef>Current Vehicle</th>
        <td mat-cell *matCellDef="let row">{{row.vehicle}}</td>
      </ng-container>
    
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>LicensePlate</th>
        <td mat-cell *matCellDef="let row">{{row.number}}</td>
      </ng-container>
    

      <ng-container matColumnDef="dateFrom"> 
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Started</th>
        <td mat-cell *matCellDef="let row">{{row.dateFrom | date}}</td>
      </ng-container>

      <ng-container matColumnDef="actions"> 
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button color="primary" (click)="editDriver(row.id)">Edit</button>
          <button mat-button color="warn" class="warning" (click)="deleteDriver(row.id)">Inactivate</button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div></div>
  <button mat-button color="primary" class="addButton" (click)="addDriver()">Add a Driver</button>
</div>


<mat-paginator class="paginator" (page) = "handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page">
</mat-paginator>



