<header>
  <div class="table-heading">
    <h2>
      <a (click)="goBack()" style="cursor: pointer;">
        <mat-icon class="back-arrow">arrow_back</mat-icon>
      </a>
      {{title}} {{vehicleId}}
    </h2>
  </div>
</header>

<form name="vehicleForm" #vehicleForm="ngForm" class="first-form" (ngSubmit)="onSubmit()">
  <div class="column">
    <label for="make">Make:</label>
    <input type="text" id="make" name="make" [(ngModel)]="formData.make" #make="ngModel" required maxlength="25">
      <div class="alert">
      <!-- <div *ngIf="make.invalid && (make.dirty || make.touched)" class="alert">-->
        <div *ngIf="make.errors?.['required']">
          Make is required.
        </div>
      </div>

    <label for="model">Model:</label>
    <input type="text" id="model" name="model" [(ngModel)]="formData.model" #model="ngModel" required maxlength="25">
      <div class="alert">
        <div *ngIf="model.errors?.['required']">
          Model is required.
        </div>
      </div>

    <label for="chassisNumber">Chassis Number:</label>
    <input (ngModelChange)="clearErrorMessage()" type="text" id="chassisNumber" name="chassisNumber" required minlength="6" maxlength="17"
        [(ngModel)]="formData.chassisNumber" #chassisNumber="ngModel" required>
      <div class="alert">
        <div *ngIf="chassisNumber.errors?.['required']">
          ChassisNumber is required.
        </div>
        <div *ngIf="chassisNumber.errors?.['minlength']">
          ChassisNumber must be at least 6 characters long.
        </div>
      </div>

    <label for="vehicleType">Vehicle Type:</label>
    <select id="vehicleType" name="vehicleType"  [(ngModel)]="selectedVehicleTypeIndex" #vehicleTypeId="ngModel" required>
      <option *ngFor="let type of vehicleTypes" [value]="type.id">{{ type.name }}</option>
    </select>
      
    <label for="fuelType">Fuel Type:</label>
    <select id="fuelType" name="fuelType"  [(ngModel)]="formData.fuelType" #fuelType="ngModel" required>
      <option *ngFor="let fuelType of fuelTypes" [value]="fuelType">{{ fuelType }}</option>
    </select>

    <label for="mileage">Mileage:</label>
    <input type="number" id="mileage" name="mileage" [(ngModel)]="formData.mileage" #mileage="ngModel" required>
    <div class="alert" >
      <div *ngIf="mileage.errors?.['required']">
        Mileage is required
      </div>
    </div>
  </div>

  <div class="column">
    <label for="startLeasing">Start Leasing:</label>
    <input type="date" id="startLeasing" name="startLeasing" [(ngModel)]="formData.startLeasing" #startLeasing="ngModel" required>
    <div *ngIf="startLeasing.errors?.['required']" class="alert">
      Start Leasing is required.
    </div>

    <label for="firstRegistration">First Registration:</label>
    <input type="date" id="firstRegistration" name="firstRegistration" [(ngModel)]="formData.firstRegistration" #firstRegistration="ngModel" required>
    <div *ngIf="firstRegistration.errors?.['required']" class="alert">
      First Registration is required.
    </div>

    <label for="durationLeasingMonths">Leasing Duration (Months):</label>
    <input type="number" id="durationLeasingMonths" name="durationLeasingMonths" [(ngModel)]="formData.durationLeasingMonths" #durationLeasing="ngModel" required min="12">
    <div class="alert">
      <div *ngIf="durationLeasing.errors?.['required']">
        Duration of leasing is required
      </div>
      <div *ngIf="durationLeasing.errors?.['min']">
        Duration of leasing must be at least 12 months
      </div>
    </div>

      <h3>License Plate:</h3>
        <label for="licensePlateNumber">License Plate Number:</label>
        <input type="text" id="licensePlateNumber" name="licensePlateNumber" [(ngModel)]="formData.licensePlateNumber"#number="ngModel"  required >
        <div class="alert">
          <div *ngIf="number.errors?.['required']" class="alert">
            LicensePlate is required
          </div>
        </div><br/>
      <div>
        <label for="licensePlateDateFrom">Date From:</label>
        <input type="date" id="licensePlateDateFrom" name="licensePlateDateFrom" [(ngModel)]="formData.licensePlateDateFrom" #lpDateFrom="ngModel" required>
        <div class="alert">
          <div *ngIf="lpDateFrom.errors?.['required']" class="warning">
            Date From is required
          </div>
        </div>
      </div><br/>
    <p *ngIf="vehicleForm.invalid || errorMessage; else validForm"  class="alert">{{ errorMessage }}</p>
    <ng-template #validForm></ng-template>

    <button mat-button type="submit" class="submitButton" [disabled]="vehicleForm.invalid" [ngClass]="{'gray-button': vehicleForm.invalid}">Submit</button>
  </div>
</form>

<div *ngIf="vehicleId != 59" class="panel-container">
  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title">
        Maintenances
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-maintenances [maintenanceData]="maintenanceArray"></app-maintenances>
    <button mat-button color="primary" class="addButton" (click)="addMaintenance()">Add Maintenance</button>
  </mat-expansion-panel>
</div>

<div class="panel-container">
  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title">
        Inspection Reports
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-inspection-reports [inspectionReportData]="inspectionArray"></app-inspection-reports>
    <button mat-button color="primary" class="addButton" (click)="addInspectionReport()">Add Inspection Report</button>
  </mat-expansion-panel>
</div>
<div><br/></div>

