<h2 mat-dialog-title>Reported Damages</h2>
<table mat-table [dataSource]="reportedDamagesData">
  <!-- Define your table columns here -->
  <ng-container matColumnDef="damage">
    <th mat-header-cell *matHeaderCellDef>Damage</th>
    <td mat-cell *matCellDef="let reportedDamage">{{ reportedDamage.damage }}</td>
  </ng-container>
  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef>Cost     </th>
    <td mat-cell *matCellDef="let reportedDamage">{{ reportedDamage.cost }} €</td>
  </ng-container>
  <ng-container matColumnDef="part">
    <th mat-header-cell *matHeaderCellDef>Part</th>
    <td mat-cell *matCellDef="let reportedDamage">{{ reportedDamage.part }}</td>
  </ng-container>
  <ng-container matColumnDef="repairType">
    <th mat-header-cell *matHeaderCellDef>Repair Type</th>
    <td mat-cell *matCellDef="let reportedDamage">{{ reportedDamage.repairType }}</td>
  </ng-container>

  <!-- Replace 'damageReportsData' with the actual data for your damage reports -->
  <tr mat-header-row *matHeaderRowDef="['damage', 'cost', 'part', 'repairType']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['damage', 'cost', 'part', 'repairType'];"></tr>
</table>

